/* Custom CSS properties (not used in this project)
:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
}
*/
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    margin-right: -3.25rem;
    transition: all .2s ease-out; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee;
      border: 1px solid #ccc; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: #f4f2f2; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #777; }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #eb2f64;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }

.content {
  display: flex; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main-view {
  background-color: #fff;
  flex: 1; }

.sidebar {
  background-color: #333;
  flex: 0 0 18%; }
