/* 
    $breakpoint values:
    130 rem - container width

*/
/* Custom CSS properties (not used in this project)
:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
}
*/
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.btn-inline {
  border: none;
  color: #eb2f64;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s ease-out; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s ease-out; }
  .btn-inline:hover {
    color: #333; }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 10rem;
  border: none;
  background-image: linear-gradient(to right, #ff3366, #ba265d);
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__hidden {
    padding: 2rem 0;
    position: absolute;
    left: 0;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to left, #ff3366, #ba265d); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__hidden {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.description {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }
  .description__paragraph:not(:last-of-type) {
    margin-bottom: 2rem; }
  .description__list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem;
    border-top: 1px solid #f4f2f2;
    border-bottom: 1px solid #f4f2f2;
    display: flex;
    flex-wrap: wrap; }
  .description__list-item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
    @media only screen and (max-width: 31.25em) {
      .description__list-item {
        flex: 0 0 100%; } }
    .description__list-item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .7rem;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .description__list-item::before {
          background-color: #eb2f64;
          -webkit-mask-image: url(../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-image: url(../img/chevron-thin-right.svg);
          mask-size: cover;
          background-image: none; } }
  .description__recommend {
    font-size: 1.3rem;
    color: #999;
    display: flex;
    align-items: center; }
  .description__recommend-count {
    margin-right: auto; }
  .description__recommend-friends {
    display: flex; }
  .description__recommend-photo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .description__recommend-photo:not(:last-child) {
      margin-right: -2rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }
  .legal,
  .legal a {
    color: #ccc; }
  .legal a {
    display: inline-block;
    text-decoration: none;
    transition: .2s all ease-out; }
    .legal a:hover {
      color: #fff; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f2f2; }
  .overview__heading {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: #eb2f64; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    background-color: #eb2f64;
    color: #fff;
    align-self: stretch;
    margin-left: 3rem;
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.5rem; } }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-average {
        font-size: 1.8rem; } }
  .overview__rating-count {
    font-size: 1rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-count {
        font-size: .8rem; } }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: #f4f2f2; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    margin-right: -3.25rem;
    transition: all .2s ease-out; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #eb2f64;
    transform: scaleY(0);
    transition: transform 0.2s ease-in, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: #ff3366; }
  .side-nav__link:link, .side-nav__link:visited {
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 20; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: #faf9f9; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0;
        margin-bottom: .5rem; } }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: #f4f2f2; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #777; }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #eb2f64;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.user-reviews {
  flex: 1;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    font-family: sans-serif;
    line-height: 1;
    color: #f4f2f2;
    z-index: 1; }
  .review__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 5; }
  .review__author {
    display: flex;
    align-items: center; }
    .review__author-box {
      margin-right: auto; }
    .review__author-name {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: .4rem; }
    .review__author-date {
      font-size: 1.1rem;
      color: #999; }
  .review__photo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__rating {
    color: #eb2f64;
    font-size: 2.2rem;
    font-weight: 300; }

.container {
  max-width: 130rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 81.25em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 12rem;
      align-content: space-around; } }

.main-view {
  background-color: #fff;
  flex: 1; }

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #f4f2f2; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.sidebar {
  background-color: #333;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
