.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid $color-grey-light-2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(smallest) { 
        flex-wrap: wrap;
        height: 12rem;
        align-content: space-around;
    }
}