.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: $color-grey-light-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}