.btn-inline {
    border: none;
    color: $color-primary;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s ease-out;

    & span {
        margin-left: 3px;
        transition: margin-left .2s ease-out;
    }

    &:hover {
        color: $color-grey-dark-1;

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}