.description {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.1);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    font-size: 1.4rem;

    @include respond(medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @include respond(small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    &__paragraph {
        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }
    }

    &__list {
        list-style: none;
        margin: 3rem 0;
        padding: 3rem;
        border-top: 1px solid $color-grey-light-2;
        border-bottom: 1px solid $color-grey-light-2;
        display: flex;
        flex-wrap: wrap;
    }

    &__list-item {
        flex: 0 0 50%;
        margin-bottom: .7rem;

        @include respond(smallest) { 
            flex: 0 0 100%;
        }

        &::before {
            content: "";
            display: inline-block;
            height: 1rem;
            width: 1rem;
            margin-right: .7rem;

            // Old browsers
            // background-image: url(../img/chevron-thin-right.svg);
            // background-size: cover;

            // New browsers - mask technique
            background-color: $color-primary;
            -webkit-mask-image: url(../img/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-image: url(../img/chevron-thin-right.svg);
            mask-size: cover;
        }
    }

    &__recommend {
        font-size: 1.3rem;
        color: $color-grey-dark-3;
        display: flex;
        align-items: center;
    }

    &__recommend-count {
        margin-right: auto;
    }

    &__recommend-friends {
        display: flex;
    }

    &__recommend-photo {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        border: 3px solid #fff;

        &:not(:last-child) {
            margin-right: -2rem;
        }
    }
}