.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;

    @include respond(medium) {
        display: none;
    }

    &,
    & a {
        color: $color-grey-light-4;
    }

    & a {
        display: inline-block;
        text-decoration: none;
        transition: .2s all ease-out;

        &:hover {
            color: #fff;
        }
    }
}