.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-grey-light-2;

    &__heading {
        font-size: 2.25rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: $color-primary;
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: $color-primary;
        color: #fff;
        align-self: stretch;
        margin-left: 3rem;
        padding: 0 2.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
    }

    &__rating-count {
        font-size: 1rem;
        text-transform: uppercase;
    }
}