.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $color-primary;
        transform: scaleY(0);
        transition: transform .2s ease-in,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: $color-primary-light;
    }

    &__link:link,
    &__link:visited {
        color: $color-grey-light-1;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 20;

    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: $color-grey-light-1;
    }
}